body{
    background-color: rgb(36, 36, 36);
    color: rgb(199, 199, 199);
    text-align: center;
}
button{
    border: none;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    padding: 10px;
}
button:hover{
    color: rgb(21, 255, 0);
    cursor: pointer;
}